{% extends "task/layout.html" %}
{% block title %}
Board add member
{% endblock %}
{% block main %}
<div class="container">
    <h1 class="mt-5">Board add member</h1>
    <h3 class="mt-3">Add member to board: {{ board.name }}</h3>
    <form id="add-member-form">
        <input class="form-control w-auto mb-3" id="add-member-board-id" name="board-id" type="hidden" value="{{ board.id }}">
        <input class="form-control w-auto mb-3" id="add-member-email" autofocus type="email" placeholder="Member email" name="email">
        <input class="btn" style="background: #397D99; color: white;" type="submit" value="Add member">
    </form>
    <div class="mt-4">
        <p><a class="link-primary" href="{% url 'board_members' board.id %}">Back to board members</a></p>
        <p><a class="link-primary" href="{% url 'board' board.id %}">Back to board</a></p>
    </div>
</div>
{% endblock %}