{% extends "task/layout.html" %}

{% block title %}
Create board
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mb-3 mt-5">Create board</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form id="create-board-form" action="{% url 'boards' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control w-auto" id="create-board-name" autofocus type="text" placeholder="Board name" name="name">
            </div>
            <div class="mb-3">
                <textarea class="form-control w-auto" id="create-board-description" rows="4" cols="50" placeholder="Board description" name="description"></textarea>
            </div>
            <input class="form-control w-auto btn" style="background: #397D99; color: white;" id="create-board-submit" type="submit" value="Create board">
        </form>

        <div class="mt-3">
            <p><a class="link-primary" href="{% url 'index' %}">Back to home</a></p>
        </div>
    </div>
{% endblock %}