{% extends "task/layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="mt-5">Your workspace</h1>
    <div class="row row-cols-lg-4 mt-2 g-4">
        {% for board in boards %}
            <div class="col">
                    <div class="card">
                        <a class="btn btn-warning" href="{% url 'board' board.id %}">
                            <div class="card-body">
                                    <p class="card-title">{{ board.name }}</p>
                            </div>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}