{% extends "task/layout.html" %}

{% block title %}
Create new board
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="mb-3 mt-5">Create new board</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form id="create-board-form" action="{% url 'boards' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control w-auto" id="create-board-name" autofocus type="text" placeholder="Board name" name="name">
            </div>
            <div class="mb-3">
                <input class="form-control w-auto" id="create-board-description" type="text" placeholder="Board description" name="description">
            </div>
            <input class="form-control w-auto btn btn-primary" id="create-board-submit" type="submit" value="Create board">
        </form>
    </div>
{% endblock %}