{% extends "task/layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <div>
        <h1>Register</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input autofocus type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="confirmation password" name="confirmation">
            <input type="email" placeholder="Email" name="email">
            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}